* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .body {
    padding: 10px;
    margin: 10px;
  }
  /*header*/
  .navBarColors {
    background-image: linear-gradient(
      to right,
      rgb(41, 82, 160),
      rgb(28, 2, 80)
    );
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
  }
  /*primary container*/
  .primaryContainer {
    margin: 30px;
    max-width: 96%;
  }
  /* search by city */
  .searchByCity {
    padding: 0;
  }
  input {
    padding: 2px;
  }
  .citySearch input,
  .searchBtn {
    width: 90%;
  }
  .citySearch label {
    color: black;
    font-size: 30px;
    font-weight: bold;
  }
  .citySearch input {
    border: 1px solid rgb(174, 174, 174);
    height: 40px;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .searchButton {
    color: white;
    background-color: rgb(80, 152, 230);
    margin-top: 15px;
  }
  hr {
    width: 90%;
  }
  .searchedCitiesList {
    list-style: none;
    margin: 0%;
    padding: 0;
    width: 90%;
  }
  
  .cityButton {
    background-color: rgb(174, 174, 174);
    margin-top: 1rem;
    text-align: center;
    margin-left: 0%;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  /* current weather */
  .weatherInfo {
    padding-left: 0;
  }
  .currentWeather {
    margin-top: 10px;
    border: 1px solid black;
  }
  
  /* 5-day forecast*/
  .dailyForecastDate {
    font-weight: bold;
  }
  .forecastDay {
    background-color: rgb(6, 29, 51);
    color: white;
    margin-right: 10px;
  }
  .forecastHeading {
    font-weight: bold;
    margin: 10px 0;
  }
  
  /*uv index*/
  .good, .bad {
    padding: 1px;
    border-radius: 5px;
    color: white;
  }
  .good {
    background-color: green;
  }
  .moderate {
    background-color: yellow;
    padding: 1px;
    border-radius: 5px;
    color: black;
  }
  .bad {
    background-color: red;
  }